// Colours

$main: #69c6cd;
$main-hover: #93DBE0;
$main-light: #E3F7F9;

$text: #555555;

$grey: #b3c1c6;
$grey-light: #fafafa;
$grey-dark: #EBEAE9;

$red: #f46b4e;
$red-dark: #CC4124;

$black: #3d4c53;

$white: #ffffff;

//$blue_light_light: #F0F8F9;
//$grey_light_light: #EFEFEF;
//$grey_black: #777777;
//$black_half: rgba(0, 0, 0, 0.5); 
//$green: #AEDC3E;