<template name="left_sidebar">
  <div class="row">
    <div class="twelve columns">
      <div class="navigation">
        <ul>
          <li class="">
            <a href="{{pathFor 'feed'}}"><i class="fa fa-newspaper-o"></i> New</a>
          </li>
          <li class="">
            <a href="{{pathFor 'browseUsers'}}"><i class="fa fa-users"></i> Users</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-users"></i> Classic</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-users"></i> Help</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
