<template name="right_sidebar">
  <div class="row">
    <div class="twelve columns">
      <div class="navigation">
        <ul>
          <li class="">
            <a href="#"><i class="fa fa-newspaper-o"></i> Feed</a>
          </li>
          <li class="">
            <a href="#"><i class="fa fa-users"></i> Browse users</a>
          </li>
          <li class="">
            <a href="#"><i class="fa fa-envelope"></i> Messages {{getUnreadCount}}</a>
          </li>    
        </ul>
      </div>
    </div>
  </div>
</template>
